---
import Layout from '../../layouts/Layout.astro';
const title = 'Course - Astroku';

const respone = await fetch(
  'http://127.0.0.1:1337/api/courses?populate=image'
).then((res) => res.json());
const courses = respone.data;
---

<Layout {title}>
  <section class='py-5'>
    <div class='container'>
      <div class='row'>
        <h1>Course Pages</h1>
        <p class='text-secondary'>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Similique,
          praesentium!
        </p>
      </div>
      <div class='row flex-wrap mt-4'>
        {
          courses.map(({ attributes: { title, body, price, url, image } }) => (
            <div class='col-sm-6 col-lg-4 mt-4'>
              <div class='card rounded-4'>
                <div class='card-body p-3'>
                  <img
                    src={`http://127.0.0.1:1337${image.data.attributes.formats.thumbnail.url}`}
                    alt={title}
                    class='card-img-top rounded-4 img-fluid'
                  />
                  <div class='title-wrapper mt-3'>
                    <h4 class='card-title'>{title}</h4>
                    <p class='card-text text-secondary'>
                      {body[0].children[0].text}
                    </p>
                    <h3 class='my-3'>{`IDR ${price.toLocaleString()}`}</h3>
                    <a href={url} class='btn btn-primary' target='_blank'>
                      See More
                    </a>
                  </div>
                </div>
              </div>
            </div>
          ))
        }
      </div>
    </div>
  </section>
</Layout>
